@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiForgeryToken
@model Application.ViewModel.GBAcc.Setups.CBM_BankVM
@{
    var token = antiForgeryToken.GetAndStoreTokens(Context);
    ViewData[PageInfo.PageHeader] = "Bank";
    ViewData[PageInfo.PageTitle] = "Bank";
}

<div class="card card-primary">
    <form id="frmCbmBank">
        <input type="hidden" asp-for="BankID" />
        <div class="row m-0">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="col-form-label-sm m-0 required" asp-for="CompanyID"></label>
                    <select asp-for="CompanyID" class="form-control form-control-sm" asp-items="Model.DDLCompanyList"></select>
                    <span asp-validation-for="CompanyID" class="span-form-validation text-danger"></span>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="col-form-label-sm m-0 required" asp-for="BankName"></label>
                    <input type="text" class="form-control form-control-sm " asp-for="BankName" placeholder="Bank Name" autocomplete="off">
                    <span asp-validation-for="BankName" class="span-form-validation text-danger"></span>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="col-form-label-sm m-0" asp-for="Abbreviation"></label>
                    <input type="text" class="form-control form-control-sm " asp-for="Abbreviation" placeholder="Abbreviation" autocomplete="off">
                    <span asp-validation-for="Abbreviation" class="span-form-validation "></span>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <label class="col-form-label-sm m-0">&nbsp;</label>
                <div class="form-group" style="text-align:center">
                    <input type="button" class="btn btn-sm btn-success" id="btnSave" value="Save">
                </div>
            </div>
        </div>
    </form>

    <div class="row m-0">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="grid">
            </div>
        </div>
    </div>
</div>

@section scripts{ 
    <script type="text/javascript">
        $(function () {
            GetCBMBankList();
            $('#btnSave').click(function () {
            debugger
            if ($('#frmCbmBank').valid()) {
                let bankID = RtnNumber($("#BankID").val());//
                let companyID = RtnNumber($("#CompanyID").val());
                let bankName = $('#BankName').val();
                let abbreviation = $('#Abbreviation').val();//Abbreviation
                obj = {
                    BankID: bankID,
                    CompanyID: companyID,
                    BankName: bankName,
                    Abbreviation: abbreviation,
                }
                if (obj.BankID>0) {
                     HttpRequest.Ajax("PUT", '/Setups/CBMBank/BankUpdate', { "bankDTM": obj , '@token.HeaderName': '@token.RequestToken'}, saveSuccess);
                } else {
                     HttpRequest.Ajax("POST", '/Setups/CBMBank/BankCreate', { "bankDTM": obj , '@token.HeaderName': '@token.RequestToken'}, saveSuccess);
                }
            }
        })
    })

        function saveSuccess(data) {
            debugger
            if (data.result == 1) {
                $.alert.open({
                    type: 'Success',
                    content: data.message,
                    callback: function () {
                        Clear();
                        GetCBMBankList();
                          $("#btnSave").val('Save');
                        // window.location.href = '/setup/CompanyInfo/Index';
                    }
                });
            }
            else {
                $.alert.open("error", data.message);
            }
        }

        function GetCBMBankList() {

             var url = "/Setups/CBMBank/GetCBMBankList";

       // var dataGridrow;
        var dataGrid =   $("#grid").dxDataGrid({
            dataSource: DevExpress.data.AspNet.createStore({
                key: "BankID",
                loadUrl: url,
            }),

            remoteOperations: {
                paging: true,
                sorting: true,
                filtering: true,
            },
            showColumnLines: false,
            showRowLines: true,
            showBorders:true,
            paging: {
                pageSize: 10
            },
            pager: {
                showInfo: true,
                allowedPageSizes: [10,20, 40, 100, 500],
                showPageSizeSelector: true,
            },
            loadingIndicator: {
                enabled: true
            },
            selection: { mode: 'single' },
            headerFilter: { visible: false  ,allowSearch: true },
            filterRow: { visible: false },
            wordWrapEnabled: true,
            columns: [
                {
                    dataField: "BankID",
                    visible: false,
                },
                {
                    width: "5%",
                    caption: "SL",
                    alignment: 'center',
                    cellTemplate: function (cellElement, cellInfo) {
                        var index = dataGrid.pageIndex() * dataGrid.pageSize() + cellInfo.rowIndex + 1;
                        cellElement.text(index)
                    }

                },


                {

                    caption: "Bank",
                    wordWrapEnabled: false,
                    alignment: 'center',
                    allowFiltering: false,
                    dataField: "BankName",
                },
                {

                    caption: "Abbreviation",
                    wordWrapEnabled: false,
                    alignment: 'center',
                    allowFiltering: false,
                    dataField: "Abbreviation",

                },
                {

                    caption: "CompanyName",
                    wordWrapEnabled: false,
                    alignment: 'center',
                    allowFiltering: false,
                    dataField: "CompanyName",

                },

                {
                    width: "10%",
                    caption: "Action",
                    alignment: 'center',
                    headerCellTemplate: function (header, info) {
                        $('<div>').html(info.column.caption).css('font-weight', 'bold').appendTo(header);
                    },
                    cellTemplate: function (container, options) {

                        var returnText = `<button class="btn btn-xs btn-warning" > <i class="fa fa-edit" ></i></button>`;
                        $(returnText).on('dxclick', function () {
                            DataEdit(options.data.BankID, options.data.BankName, options.data.CompanyID, options.data.Abbreviation,);
                        }).appendTo(container);

                        var returnText = `<span>&nbsp</span><button class="btn btn-xs btn-danger" > <i class="fa fa-trash"></i></button>`;
                        returnText = returnText + '</div>';
                        $(returnText).on('dxclick', function () {
                            DataDelete(options.data.BankID);
                        }).appendTo(container);


                    },
                },
            ],

          //  groupPanel: { visible: true },

            height: 520,

        }).dxDataGrid("instance");
    }
        function Clear() {
            $("#BankID").val('');
            $("#CompanyID").val('');
            $('#BankName').val('');
            $('#Abbreviation').val('');
        }
        function DataEdit(bankID,name,companyID,abb) {
            $("#BankID").val(bankID);
            $("#CompanyID").val(companyID);
            $('#BankName').val(name);
            $('#Abbreviation').val(abb);
            $('#btnSave').val('Update')
        }
        function DataDelete(bankkId) {
            $.alert.open('confirm', 'Are you sure to delete this record?', function (button) {
                if (button == 'yes') {
                    HttpRequest.Ajax("DELETE", '/Setups/CBMBank/BankDataDelete', { bankkID: bankkId}, DeleteSuccess);

                } else {
                    return false;
                }
            });


        }
        function DeleteSuccess(data) {
            debugger
            if (data.result == 1) {
                $.alert.open({
                    type: 'Success',
                    content: data.message,
                    callback: function () {
                        GetCBMBankList();
                    }
                });
            }
            else {
                $.alert.open("error", data.message);
            }
        }
    </script>
}